# Spotify API Credentials
# Create a developer application at https://developer.spotify.com/dashboard to get these credentials.

# Your Spotify Application Client ID
SPOTIPY_CLIENT_ID=your_client_id_here

# Your Spotify Application Client Secret
SPOTIPY_CLIENT_SECRET=your_client_secret_here

# Your Spotify Application Redirect URI (Must match what is registered in the Spotify Developer Dashboard)
# Example: http://localhost:8888/callback or http://localhost:8080/callback
SPOTIPY_REDIRECT_URI=http://localhost:8888/callback
